<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
</head>
<body>

<div th:fragment="header">
    <header id="main_header" class="d-flex flex-wrap justify-content-left py-4">
        <div class="col d-flex align-items-start">
            <a href="bands.html" th:href="@{/bands}" class="navbar-brand">
                <img src="../static/img/logo.svg"
                     th:src="@{/img/logo.svg}" height="55" width="55" alt="Setlist Organizer">
            </a>
            <div>
    <span class="fs-1">
            <h1><p id="main_app_name" class="text-uppercase">setlist organizer</p></h1>
            <p class="lead">An easy way to organize your repertoire!</p>
        </span>
            </div>
        </div>
    </header>
</div>


<div th:fragment="navbar">
    <nav id="main_navbar" class="navbar navbar-expand-sm navbar-light">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                    <li class="nav-item">
                        <a href="bands.html" th:href="@{/bands}" class="nav-link"><p class="text-uppercase">bands</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="repertoire.html" th:href="@{/repertoire}"><p class="text-uppercase">
                            repertorie</p></a>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../static/img/grid.svg"
                             th:src="@{/img/grid.svg}" height="40" width="40" alt="service">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <form class="form-group" th:action="@{/bands/fill}">
                                <a class="dropdown-item">
                                    <div class="input-group">
                                        <button class="btn btn-dark" type="submit">
                                            Fill fakes bands
                                        </button>
                                        <input type="number" class="form-control" th:name="size">
                                        <select class="form-select" id="inputGroupSelect01"
                                                th:name="language">
                                            <option value="EN">EN</option>
                                            <option value="RU">RU</option>
                                        </select>
                                    </div>
                                </a>
                            </form>
                        </li>
                        <li>
                            <form class="form-group" th:action="@{/repertoire/fill}">
                                <a class="dropdown-item">
                                    <div class="input-group">
                                        <button class="btn btn-dark" type="submit">
                                            Fill fakes tracks
                                        </button>
                                        <input type="number" class="form-control" th:name="size">
                                        <select class="form-select" id="inputGroupSelect02"
                                                th:name="language">
                                            <option value="EN">EN</option>
                                            <option value="RU">RU</option>
                                        </select>
                                    </div>
                                </a>
                            </form>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">About</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <span class="border-top"></span>
    <footer class="footer fixed-bottom mt-auto py-3 bg-light">
        <div class="text-center">
            <span class="text-muted">&copy Maksim Meliashchuk 2021-2022</span>
        </div>
    </footer>

</div>


</body>
</html>