html {
    font-size:16px;
}

body {
    margin-bottom: 60px;
}

#main_header {
    background-image: linear-gradient(to right, #FFF, #D0D3D4);
}

#main_app_name {
    margin-bottom:-0.8rem;
}

#main_navbar {
    background-color: #D0D3D4;
}

.navbar-light .navbar-nav .nav-link {
    color: #111;
    font-size:24px;
    font-weight:500;
    padding-right: 2rem;
    padding-left: 0.5rem;
}

.navbar-nav .dropdown-menu {
    left: auto;
    right: 0;
}

.lead {
    line-height: 1;
}

p {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

img {
    max-width: none;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

textarea {
  resize: none;
  width: auto;
}

#card {
    border-radius: 5px;
    box-shadow: 4px 2px 6px #e9ecef;
}

a:hover {
    color: #555;
}

.top-menu li a::after {
    background-color: #6c757d;
    content: '';
    display: block;
    height: 2px;
    transition: all 0.5s;
    transform: scale(0);
    width: 100%;
}

.top-menu li a:hover::after {
    transform: scale(1);
}

.dropdown-menu {
    width: 330px;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #e9ecef;
}

.main {
  margin-top: 200px;
}

.accordion-button:not(.collapsed) {
    color: #212529;
    background-color: #f8f9fa;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

#toggleButtonOffcanvasRight {
    position: fixed;
    top: 126px;
    right: 30px;
 }
