<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{resources/static/css/style.css}">
    <title>Setlist Organizer</title>
</head>


    <header class="d-flex flex-wrap justify-content-left py-4" style="background-image: linear-gradient(to right, rgba(255,0,0,0), #D0D3D4)">
        <a href="bands.html" class="navbar-brand">
            <img src="../../resources/static/img/logo.svg"
                 th:src="@{resources/static/img/logo.svg}" height="70" width="70" alt="Setlist Organizer">
        </a>
        <span class="fs-1">
            <h1><p class="text-uppercase" style="margin-bottom:-1rem">setlist organizer</p></h1>
            <p class="lead">An easy way to organize your repertoire!</p>
        </span>
    </header>


<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #D0D3D4;">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 top-menu">
                <li class="nav-item">
                    <a href="bands.html" class="nav-link"><p class="text-uppercase">bands</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="repertoire.html"><p class="text-uppercase">repertorie</p></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="d-grid justify-content-md-end">
        <div class="p-2">
            <a href="band.html" th:href="@{/band/add}" class="btn btn-dark" role="button">Add</a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="d-grid gap-3">
        <div class="p-2 bg-light border p-2">
            <div class="row align-items-center">
                <div class="col-sm-3">
                    <strong>
                        <p class="text-uppercase">my cover band</p>
                    </strong>
                        14 songs
                </div>

                <div class="col-sm-5">
                    Alternative&metal
                </div>
                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="band.html"
                           class="btn-sm btn-outline-secondary"
                           title="Edit band">
                            <img src="../../resources/static/img/edit.svg" height="20" width="20" alt="Band edit">
                            <span class="d-none d-md-inline">Edit</span></a>
                        <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete band">
                                        <img src="../../resources/static/img/delete.svg" height="20" width="20" alt="BAnd delete">
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-2 bg-light border">
            <div class="row row align-items-center">
                <div class="col-sm-3">
                    <strong><p class="text-uppercase">muse</p></strong>
                    4 songs
                </div>
                <div class="col-sm-5">
                    My best band
                </div>
                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="band.html"
                           class="btn-sm btn-outline-secondary"
                           title="Edit band">
                            <img src="../../resources/static/img/edit.svg" height="20" width="20" alt="Band edit">
                            <span class="d-none d-md-inline">Edit</span></a>
                        <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete band">
                                        <img src="../../resources/static/img/delete.svg" height="20" width="20" alt="Band delete">
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-2 bg-light border">
            <div class="row row align-items-center">
                <div class="col-sm-3">
                    <strong>
                        <p class="text-uppercase">big band</p>
                    </strong>
                    no songs
                </div>
                <div class="col-sm-5">

                </div>
                <div class="col">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="band.html"
                           class="btn-sm btn-outline-secondary"
                           title="Edit band">
                            <img src="../../resources/static/img/edit.svg" height="20" width="20" alt="Band edit">
                            <span class="d-none d-md-inline">Edit</span></a>
                        <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete band">
                                        <img src="../../resources/static/img/delete.svg" height="20" width="20" alt="Band delete">
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete band</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the band?
                All related tracks and events will be deleted !!!
            </div>
            <div class="modal-footer">
                <a href="bands.html" button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></a>
                <a href="bands.html" button type="button" class="btn btn-dark">Delete</button></a>
            </div>
        </div>
    </div>
</div>


<span class="border-top"></span>
<footer class="footer fixed-bottom mt-auto py-3 bg-light">
    <div class="text-center">
        <span class="text-muted">&copy Maksim Meliashchuk 2021</span>
    </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</html>