<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">
    <title>Setlist Organizer</title>
</head>

<div th:insert="layouts :: header"></div>
<div th:insert="layouts :: navbar"></div>

<div class="container-fluid">
    <div class="d-grid justify-content-md-end">
        <div class="p-2">
            <a href="track.html" th:href="@{/repertorie/add}" class="btn btn-dark" role="button">Add</a>
        </div>
    </div>
</div>

<hr>

<div class="container-fluid">
    <table class="table table-hover">

        <tbody>
        <tr>
            <th scope="row "><img src="../../resources/static/img/music.svg" height="25" width="25" alt="music"></th>
            <td>Uprising</td>
            <td>2:15 - 129 bpm</td>
            <td>https://open.spotify.com/39bldfgKJwDgvju</td>
            <td>2021-03-12</td>
            <td>
                <a href="#"
                   class="btn-sm btn-outline-secondary"
                   title="Edit">
                    <img src="../../resources/static/img/edit.svg" height="20" width="20" alt="HR">
                    <span class="d-none d-md-inline">Edit</span>
                </a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete">
                                        <img src="../../resources/static/img/delete.svg" height="20" width="20" alt="HR">
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>


            </td>
        </tr>
        <tr>
            <th scope="row"><img src="../../resources/static/img/music.svg" height="25" width="25" alt="music"></th>
            <td>Absolution</td>
            <td>3:20 - 90 bpm </td>
            <td>https://open.spotify.com/39blffKJwDgvju</td>
            <td>2000-03-12</td>
            <td>
                <a href="#"
                   class="btn-sm btn-outline-secondary"
                   title="Edit">
                    <img src="../../resources/static/img/edit.svg" height="20" width="20" alt="HR">
                    <span class="d-none d-md-inline">Edit</span>
                </a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete">
                                        <img src="../../resources/static/img/delete.svg" height="20" width="20" alt="HR">
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>


            </td>
        </tr>
        <tr>
            <th scope="row"><img src="../../resources/static/img/music.svg" height="25" width="25" alt="music"></th>
            <td>Time Is Running Out</td>
            <td>4:09 - 104 bpm </td>
            <td>https://open.spotify.com/569blKefsJwDgvju</td>
            <td>2008-12-08</td>
            <td>
                <a href="#"
                   class="btn-sm btn-outline-secondary"
                   title="Edit">
                    <img src="../../resources/static/img/edit.svg" height="20" width="20" alt="HR">
                    <span class="d-none d-md-inline">Edit</span>
                </a>
                <span data-bs-toggle="modal" data-bs-target="#deleteDialog">
                                    <a href="#" class="btn-sm btn-outline-secondary"
                                       title="Delete">
                                        <img src="../../resources/static/img/delete.svg" height="20" width="20" alt="HR">
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>
                                </span>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete track?
            </div>
            <div class="modal-footer">
                <a href="repertoire.html" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></a>
                <a href="repertoire.html" type="button" class="btn btn-dark" >Delete</a>
            </div>
        </div>
    </div>
</div>


<div th:insert="layouts :: footer"></div>

<script src="js/reorder_rows.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>




</html>